@model MutualAid.UI.Models.UserPasswordViewModel
@{
    ViewData["Title"] = "Update Password";
}

<h1 class="display-4">Update Password</h1>
<hr />
<div>
    @Html.ActionLink("Back to Account", "MyAccount", "Account")
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditUserPassword">
            <input type="hidden" asp-for="@Model.Id" name="userId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ExistingPassword" class="control-label"></label>
                <input asp-for="ExistingPassword" class="form-control" />
                <span asp-validation-for="ExistingPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmNewPassword" class="control-label"></label>
                <input asp-for="ConfirmNewPassword" class="form-control" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

