@model MutualAid.UI.Models.UserViewModel

<h1 class="display-4">Hello, @Model.FirstName!</h1>
<hr />
<ul>
    <li><a asp-controller="Request" asp-action="CreateRequest">Create New Request</a></li>
    <li><a asp-controller="UserRequest" asp-action="ViewMyRequests">View My Requests</a></li>
    <li><a asp-controller="UserRequest" asp-action="ViewRequests">View Users Requests</a></li>
</ul>